<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books/Authors</title>
    <style>
        body{
            text-align: center;
        }
        .wall{
            text-align: center;
            display: inline-block;
            width: 500px;
            margin-top: 150px;
        }
        a{
            margin: 25px;
        }
        form{
            margin: 10px; 
        }
    </style>
</head>
<body>
    <div class="wall">
    <h1>Welcome to Books/Authors page!</h1>
    <form action="/books">
        <Input type="submit" value="Books Page">
    </form>
    <form action="/authors">
        <input type="submit" value="Authora Page">
    </form>
    
    
    <a href="/books">Books Page</a><br>
    <a href="/authors">Authors Page</a>
    </div>
</body>
</html>